<h1>Now</h1>
<p>A overview of what I'm prioritizing right now. The concept of a now-page is <a target="_blank"href="http://nownownow.com/about">inspired by Derek Sivers</a>.</p>

<ul class="media-list">
  <li class="media">
    <div class="media-left media-middle">
      <a href="#">
        <span class="media-object glyphicon glyphicon-play-circle"></span>
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Webpage</h4>
      <p>I'm trying to learn more about web-development and programming by making this webpage.</p>
    </div>
  </li>
  <li class="media">
    <div class="media-left media-middle">
      <a href="#">
        <span class="media-object glyphicon glyphicon-play-circle"></span>
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Machine Learning</h4>
      <p>I find machine learning interesting and wish to learn more about it. My progress will mostly follow <a target="_blank" href="https://www.analyticsvidhya.com/learning-path-learn-machine-learning/">this guide</a> I found online. I am currently at step 2.</p>
    </div>
  </li>
  <li class="media">
    <div class="media-left media-middle">
      <a href="#">
        <span class="media-object glyphicon glyphicon-play-circle"></span>
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Exchange year in USA</h4>
      <p>I'm preparing for an exchange year in USA during the academic year of 2017-18. It is part of my engineering degree in <a target="_blank" href="http://www.ntnu.edu/studies/mtiot">Industrial Economics and Technology Management</a> at NTNU in Norway.</p>
    </div>
  </li>
</ul>
