
<app-navbar></app-navbar>
<div class ="jumbotron" style="
  background: url(assets/panorama-jotunheimen.jpg) no-repeat center;
  height: 350px;
  ">







</div>

<div class="container" id="posts">
    <div class="row">
        <!-- Venstre del av siden -->
        <div class="col-sm-8">
            <router-outlet></router-outlet>
        </div>
        <!-- Høyre del av siden -->
        <div class="col-xs-3 col-xs-offset-1 hidden-xs">
            <app-sidebar></app-sidebar>
        </div>
    </div>
</div>

<!--- Test start --->

<!--- Test slutt --->

<app-footerinfo></app-footerinfo>
