<div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>This is a "sidebar" with information.</p>
    <p>It can run along all components on the page.</p>
</div>
<div class="sidebar-module">
    <h4>Nyttige linker</h4>
    <ol class="list-unstyled">
        <li><a href="https://sivers.org/">Sivers</a> </li>
        <li><a href="http://fourhourworkweek.com/blog/">Tim Ferriss</a></li>
        <li><a href=""></a></li>
    </ol>
</div>
<div class="sidebar-module">
    <h4>Dette kan være en oversikt med flere elementer</h4>
    <ol class="list-unstyled">
        <li>Første element</li>
        <li>Andre element</li>
        <li>Tredje element</li>
    </ol>
</div>
