

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="post-title" >New bookshelf</h4>
        <p class="post-meta">13.08.17</p>
    </div>
    <div class="panel-body">
        <p>I added a bookshelf component to the site to get an overview of the books I've read. Sharing it online is inspired by Derek Siver's <a target="_blank" href="https://sivers.org/book"> book notes</a>, which is a great collection of book notes with a rating system. I use it as a guideline when choosing which books I want to read.</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="post-title" >Intention with this webpage</h4>
        <p class="post-meta">03.09.16</p>
    </div>
    <div class="panel-body">
        <p>This website is a project to learn more about HTML, CSS and Javascript. It uses the frameworks Angular and Bootstrap.</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="post-title">About me</h4>
        <p class="post-meta">03.09.16</p>
    </div>
    <div class="panel-body">
        <p>Text about me</p>
    </div>
</div>
